@import "tailwindcss";
@theme {
  --color-body-bg: #6a6c54;
  --color-out-container-bg: #f7f0e6;
  --color-inner-container-bg: #b8a99a;
  --color-addtask-button-bg: #c57b57;
  --color-title-text: #f8f8f8;
}
